<!DOCTYPE html>

<html>

<head>

    <title>Home</title>

    <!-- important meta tage-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Images/home/favicon.ico" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link href="~/Content/Front/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS-->
    <link href="~/Content/Front/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- css page -->
    <link href="~/Content/Front/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <link href="~/Content/Front/responsive.css" rel="stylesheet" />

</head>

<body>

    <!-- Home Section  -->
    <section class="home for-fixed-footer">

        <!-- Header -->
        <header id="navbar">

            <nav class="nav navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="hamburger-icon">&#9776;</span>
                        </button>
                        <a href="#"><img src="/Content/Images/general/top-logo.png" id="changelogo" alt="Logo" class="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="./search.html">Search Notes</a></li>
                            <li><a href="./dashboard.html">Sell Your Notes</a></li>
                            <li><a href="@Url.Action("FAQ","FAQ")"> FAQ </a></li>
                            <li><a href="@Url.Action("ContactUs","ContactUs")"> Contact Us</a></li>
                            <li><a href="@Url.Action("Login","Login")" class="last-child"> Login </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Top Title Banner -->
        <div class="home-banner section-container">

            <div class="container">

                <div class="banner-content">

                    <h2>Download Free/Paid Notes <br /> or Sale your Book</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore veniam, <br />labore, quia obcaecati aspernatur autem quod laudantium? </p>

                    <div type="button" class="home-btn">Learn More</div>

                </div>

            </div>

        </div>
        <!-- End Top Title Banner  -->
        <!-- About Section -->
        <div class="about">

            <div class="container section-container">

                <div class="row">

                    <div class="col-md-4">

                        <div class="heading">
                            <h1 style="word-break: break-all">About<br />NotesMarketPlace</h1>
                        </div>

                    </div>
                    <div class="col-md-8">

                        <div class="section-content">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit distinctio, doloremque numquam accusamus ad vero soluta sit eveniet, porro est quas sunt deserunt, eum voluptatibus voluptate officiis qui expedita quasi! consectetu</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit distinctio, doloremque numquam accusamus ad vero soluta sit eveniet, porro est quas sunt deserunt, eum voluptatibus voluptate officiis qui expedita quasi!</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- End About Section -->
        <!-- How it work  -->
        <div class="how-work">

            <div class="container section-container">

                <div class="row text-center">

                    <div class="col-md-12">
                        <div class="heading">
                            <h1>How it Work</h1>
                        </div>
                    </div>

                    <div class="col-md-6 download">
                        <div class="icon">
                            <img src="~/Content/Images/home/download.png" alt="Download" class="rounded">
                        </div>
                        <h4>Download Free/Paid Notes</h4>
                        <p>Get materials for your <br />Cource etc. </p>
                        <button type="submit" class="btn work-btn">Download</button>
                    </div>
                    <div class="col-md-6 seller">
                        <div class="icon">
                            <img src="~/Content/Images/home/download.png" alt="Seller" class="rounded">
                        </div>
                        <h4>Seller</h4>
                        <p>Upload and Download Cource and<br />Materials etc. </p>
                        <button type="submit" class="btn work-btn">Sell Book</button>
                    </div>

                </div>

            </div>

        </div>
        <!-- End How it work  -->
        <!-- Customer section  -->
        <div class="customer-section">

            <div class="container section-container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="heading text-center">
                            <h1>What Our Customers are Saying</h1>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- Customer 1 -->
                        <div class="customer">

                            <div class="row">

                                <div class="col-md-3 col-sm-2">
                                    <img src="~/Content/Images/home/team-1.jpg" alt="Customer">
                                </div>

                                <div class="col-md-9 col-sm-10 name">
                                    <h5>Walter Meller</h5>
                                    <p>Founder & CEO, Matrix group</p>
                                </div>

                                <div class="col-md-12 col-sm-12 review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsam ipsum minima magni, similique perspiciatis ut omnis. Odio ullam nostrum quaerat tempore necessitatibus rem inventore, ut, maxime deleniti corporis perferendis."</p>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <!-- Customer 2 -->
                        <div class="customer">

                            <div class="row">

                                <div class="col-md-3 col-sm-2">
                                    <img src="~/Content/Images/home/team-2.jpg" alt="Customer">
                                </div>

                                <div class="col-md-9 col-sm-10 name">
                                    <h5>Jonnie Riley</h5>
                                    <p>Employee, Curious Snakcs</p>
                                </div>

                                <div class="col-md-12 col-sm-12 review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsam ipsum minima magni, similique perspiciatis ut omnis. Odio ullam nostrum quaerat tempore necessitatibus rem inventore, ut, maxime deleniti corporis perferendis."</p>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <!-- Customer 3 -->
                        <div class="customer">

                            <div class="row">

                                <div class="col-md-3 col-sm-2">
                                    <img src="~/Content/Images/home/team-3.jpg" alt="Customer">
                                </div>

                                <div class="col-md-9 col-sm-10 name">
                                    <h5>Amillia Luna</h5>
                                    <p>Teacher, Saint Joseph Hign School</p>
                                </div>

                                <div class="col-md-12 col-sm-12 review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsam ipsum minima magni, similique perspiciatis ut omnis. Odio ullam nostrum quaerat tempore necessitatibus rem inventore, ut, maxime deleniti corporis perferendis."</p>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <!-- Customer 4 -->
                        <div class="customer">

                            <div class="row">

                                <div class="col-md-3 col-sm-2">
                                    <img src="~/Content/Images/home/team-4.jpg" alt="Customer">
                                </div>

                                <div class="col-md-9 col-sm-10 name">
                                    <h5>Daniel Cardos</h5>
                                    <p>Software Engineer, Infinitum Company</p>
                                </div>

                                <div class="col-md-12 col-sm-12 review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsam ipsum minima magni, similique perspiciatis ut omnis. Odio ullam nostrum quaerat tempore necessitatibus rem inventore, ut, maxime deleniti corporis perferendis."</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <hr class="horizontal-line">

            <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Copyright &copy; Tatvasoft All Rights Reserved</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 list">
                            <ul class="social-list">
                                <li><a href="#"><i class="fa fa-facebook "></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter "></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </section>

    <!-- End User Profile  -->

    <!-- Jquery Module -->
    <script src="~/Scripts/Front/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Front/bootstrap/bootstrap.min.js"></script>

    <!-- Javascript Page -->
    <script src="~/Scripts/Front/script.js"></script>

</body>

</html>
