@model NotesMarketPlace.Users
<!DOCTYPE html>

<html>

<head>

    <title>Sign Up</title>

    <!-- important meta tage-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Images/home/favicon.ico" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link href="~/Content/Front/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS-->
    <link href="~/Content/Front/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- css page -->
    <link href="~/Content/Front/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <link href="~/Content/Front/responsive.css" rel="stylesheet" />

</head>

<body>

    <!-- Login Section -->
    <section class="email-varification">

        <div id="inside-block">

            <div class="top-logo">
                <img src="~/Content/Images/home/logo.png" alt="Logo">
            </div>

            <div class="verification-heading">
                <h3>Email Verification</h3>
            </div>

            <div class="discription">
                <h4>Dear @TempData["UserName"],</h4>
                <p>Thanks for joining with us!</p>
                <p>Simply Click Below for email verification.</p>
            </div>

            @Html.ActionLink("Verify Email Address", "VerifyAccount", "Setting", new { emailid = Model.EmailID}, new { @class = "btn submit" })

        </div>

    </section>

    <!-- Jquery Module -->
    <script src="~/Scripts/Front/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Front/bootstrap/bootstrap.min.js"></script>

    <!-- Validation JS -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!-- Javascript Page -->
    <script src="~/Scripts/Front/script.js"></script>

</body>
</html>
